* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  font-family: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif;
}

body, html {
  color: white;
  background-color: rgb(58, 58, 58);
}